<footer>

	<p>
		Made with <span id="heart">💜</span> by <a href="https://github.com/victorvoid" target="_blank">Victor Igor</a>.
	</p>
	<p>
		Profile arts by <a href="https://link.tumeo.space/anahidalgo" target="_blank">Ana Hidalgo</a>, <a href="https://link.tumeo.space/yomieda" target="_blank">Yomieda</a>, <a href="https://link.tumeo.space/gors" target="_blank">Gors</a> and <a href="https://link.tumeo.space/kdkei" target="_blank">KDケイ</a>.
	</p>

</footer>
